{% extends "_layouts/main" %}

{% block main %}

<div class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url({{  entry.bannerImage.one().url() }});">
  <div class="container text-center">
    <h1 class="display-4">{{ entry.bannerHeading }}</h1>
    <p class="lead">{{ entry.bannerSubheading }}</p>
  </div>
</div>

<div class="container">
{% for block in entry.contentBlock %}
  {% switch block.type %}
  
    {% case "text" %}
    <p>{{block.bodyText}}</p>
  
    {% case "image" %}
    {% set image = block.addImage.one() %}
    <img src="{{ image.url() }}" class="img-fluid" alt="...">

    {% case "video" %}
    {# Video #}
    <div class="vimeo-video container embed-responsive embed-responsive-16by9">
      <div class="embed-responsive-item">
        <iframe src="{{ block.video }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
    </div>
  
  {% endswitch %}
  
{% endfor %}
</div>

{{ craft.molecule.get('cta') }}

{% endblock %}