{% extends "_layouts/main" %}

{% block main %}

<div class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url({{  entry.bannerImage.one().url() }});">
  <div class="container text-center">
    <h1 class="display-4">{{ entry.bannerHeading }}</h1>
    <p class="lead">{{ entry.bannerSubheading }}</p>
  </div>
</div>

<h2 class="text-center">Contact us to find out more</h2>
<p class="text-center">Want to know more about this one of a kind collection? Send us a message to enquire.</p>

{# Contact Form #}
    {# Error Message Macro #}
    {% macro errorList(errors) %}
        {% if errors %}
            
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}

        {% endif %}
    {% endmacro %}
    {% from _self import errorList %}
  

    <div class="container col-12 col-sm-8 col-md-6">
        <form method="post" action="" accept-charset="UTF-8">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="contact-form/send">
            {# Page Redirect After Form Submision #}
            {{ redirectInput('contact/thanks') }}

            {# Name Input #}
            <div class="form-group">
                <input id="from-name" class="form-control" type="text" placeholder="NAME" name="fromName" value="{{ message.fromName ?? '' }}">
                {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
            </div>

            {# Email Input #}
            <div class="form-group">
                <input id="from-email" class="form-control" type="email" placeholder="EMAIL" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
                {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
            </div>
            
            {# Message Input #}
            <div class="form-group">
                <textarea rows="2" id="message" class="form-control" placeholder="MESSAGE" name="message">{{ message.message ?? '' }}</textarea>
                {{ message is defined and message ? errorList(message.getErrors('message')) }}
            </div>

            {# Submit Button #}
            <input class="btn btn-outline-dark" type="submit" value="Send Message">

            {# Hidden Honeypot(anti-spam) Input #}
            <input id="honeypotInput" name="honeypotInput" type="text">
        </form>
    </div>
{# End Contact Form #}

{# SG API For Template SiteSG.x2vJdTcSRF-vrIBKrLtDBw.wq7vc0eY5JrMbofX_06IpH4UkHUXOeSSsHodPcLTQdY #}
{% endblock %}